* {
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

h1,
div,
footer {
  text-align: center;
}

ul,
ol {
  list-style-type: none;
  text-align: center;
}

* {
  font-family: sans-serif;
  ;
}

img {
  width: 1em;
  height: 1em;
}

.pocitac img {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  float: left;
  width: 300px;
  height: 300px;
}

a {
  background-color: white;
  color: black;
  text-underline-position: none;
}

a:hover {
  color: purple;
  border-bottom: 3px solid purple;
}
